@import "reset.css";
@import "variables.css";
@import "mixins.css";

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

a {
  outline: none;
  color:$grey;
  text-decoration: none;
  transition: all 200ms linear;

  &:hover,
  &:focus {
    color: $lightblue !important;
  }
}


.btn {
  @extend .ubuntu;
  margin-top: calc($padd/4);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  /*border: 3px solid $pink;*/
  padding: calc($padd / 4) calc($padd / 1.2);
  border-radius:100px;
  color:$pink;
  font-size: calc($fz / 1.5);
  text-decoration:none;
  transition:all 200ms linear;
  @mixin bgLinear $pink, $lightblue, 0%, 50%, 125deg;
  font-weight: 500;
  letter-spacing: 0.08em;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(146,168,209, 0), 0 0 0 rgba(146,168,209, 0);

  /*RECUADRO BLANCO*/
  &:after {
    $size: 2px;
    content:'';
    position: absolute;
    border-radius:100px;
    top: $size;
    left: $size;
    width: calc(100% - $size*2);
    height: calc(100% - $size*2);
    background-color: white;
  }

  &:hover,
  &:focus {
    text-decoration:none;
    color:$lightblue;
    border-color: $lightblue;
    box-shadow: 0 14px 28px rgba(146,168,209, 0.15), 0 10px 10px rgba(146,168,209, 0.12);
    @mixin bgLinear $pink, $lightblue, 0%, 70%, -80deg;
  }

  span {
    position: relative;
    color:$lightblue;
    z-index: 5;
    transition:all 200ms linear;
  }
}

/*--------------------------*/
.app {
  @extend .ubuntu;
  padding: 0;
  margin: 0;
  height:100%;
  min-height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index: 9;

  &__search__form {
    width: 100%;
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom: $padd;
  }

  /*SEARCH*/
  &__search {
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    border:3px solid rgba($lightblue,1);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 50px;
    font-size: calc($fz/1.2);
    font-weight: 100;
    padding: calc($padd/1.2) 0;
    color: rgba($lightblue,0.9);

    &::placeholder {
      color: rgba($black,0.5);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      background-color: transparent !important;
    }

    &:hover,
    &:focus {
      outline:none;
    }

    /* BUTTON */
    &__button {
      position: relative;
      background-color: transparent;
      border: 0;
      color: $lightblue;
      /*width: 20%;*/
      padding-left: 2em;
      transition:all 200ms linear;
      .material-icons {
        cursor: pointer;
        font-size: calc($fz * 1.4);
      }
      &:hover,
      &:focus {
        outline:none;
        color: rgba($black);
      }
    }
  }

  /*TITLE*/
  &__title {
    z-index: 1;
    padding: $padd;
    position:absolute;
    width: 100%;
    left: 0;
    h3 {
      font-size: calc($fz/1.1);
      line-height: 2.5;
      font-weight: 100;
      letter-spacing: 0.18em;
      text-align:center;
      color:rgba($white, 0.75);
      text-shadow: 1px 2px 1px rgba($black, 0.1),
                   1.5px 2px 2px rgba($black, 0.1),
                   2px 2.45px 3px rgba($black, 0.1);
    }
  }

  /* PERFIL - contenedor */
  &__profile {
    flex-basis : 39rem;
    position: relative;

    /*CONTENEDOR*/
    &__content {
      background-color: white;
      overflow: hidden;
      padding:0;
      border-radius: 10px;
      box-shadow: 0 0.75px 1px $grey, 0 0.75px 1px rgba(0, 0, 0, 0.24);
      transition: all 200ms linear;

      /*&:hover,
      &:focus {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }*/
    }
  }

  /* IMAGENES */
  &__images {
    /*IMAGE BG*/
    .app__bg {
      position: relative;
      width: calc(100% + $padd*2);
      height: 17rem;
      background-color: red;
      @mixin bgLinear $pink, $lightblue, 0%, 55%, 45deg;
      z-index: 0;
    }

    /*IMAGEN PERFIL*/
    .app__profilePic {
      position: relative;
      display:block;
      background-color: rgba($white,1);
      max-width: $size-profile-pic;
      margin: -calc($size-profile-pic/2) auto auto auto;
      overflow:hidden;
      border-radius:100%;
      border:0.6em solid rgba($white,1);
      img {
        position: relative;
        max-width:100%;
        height:auto;
        transform: scale(1.037);
      }
    }
  }

  /*NAME & DESCRIPTION*/
  &__name {
    padding: 0 $padd $padd;
    margin-top: calc($padd / 1.2);
    width: 100%;
    text-align:center;
    h1 {
      font-size: $fz;
      font-weight: 500;
      letter-spacing: 0.025em;
      color:$black;

      /*SHORT DESCRIPTION*/
      small,
      a {
        display: block;
        margin-top: calc($padd / 2);
        color:$grey;
        font-size: 0.7em;
        line-height: 1.2;
        letter-spacing: 0.02em;
      }
    }
  }

  /*DATA*/
  &__data {
    overflow: hidden;
    position: relative;
    margin-top:calc($padd / 3);
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid rgba($black, 0.10);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;


    /*LI´S*/
    &__features {
      flex-grow:1;
      color:rgba($black,1);
      text-align:center;
      font-size: calc($fz / 1.2);
      font-weight: 500;
      transition: all 200ms linear;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);

      &:hover {
        @mixin bgLinear white, rgba($black, 0.03), 50%, 100%, -90deg;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.20),
                    0 0 20px rgba(0, 0, 0, 0.2),
                    0 0 10px rgba(0, 0, 0, 0.15),
                    0 0 5px rgba(0, 0, 0, 0.1),
                    0 0 1px rgba(0, 0, 0, 0.1);
      }

      a {
        display: block;
        height: 100%;
        min-height: 100%;
        padding: calc($padd / 1.7) 0;
        text-decoration:none;
        color:rgba($black,1);
      }

      &:nth-child(2) {
        border-left: 2px solid rgba($black, 0.10);
        border-right: 2px solid rgba($black, 0.10);
      }
      span {
        display:block;
        margin-top: 0.5em;
        color:$grey;
        text-transform: uppercase;
        font-size: calc($fz / 3);
      }
    }
  }
}
